html, body{
    padding: 0;
    margin: 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
    height:100%;
}
.grid div{
    height: 100%;
}
.she{
    background: url('Злюка.gif') 50% 50% no-repeat !important;
    background-size: cover;
    animation: tilt-shaking 0.25s linear infinite;
}
.de{
    background: url('Весельчак.jpg') 50% 50% no-repeat !important;
    background-size: cover;
}
.not_de{
    background: url('Злой_енотик.png') 50% 50% no-repeat !important;
    background-size: cover;
}
#modal-content, 
#modal-content1 {
  display: none;
  position: absolute;
  z-index: 9999999;
  background-image: url(Злойй.png);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 700px;
  width: 100%;
  text-align: center;
  padding: 0px 20px; 
  border: 4px solid red;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
  border-radius: 30px;
}

#modal-content1 {
  background-image: url(Добрячкин.png);
  border: 4px solid #00CC99;
}

#modal-close, 
#modal-close1 {
  display: inline-block;
  margin: 40px 6px 4px 50px;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  padding: 8px 8px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase; 
  background: #C41E3A;
  pointer-events: auto;
  border-radius: 30px;
}

#modal-close1 {
  background: #00CC99;
}

#modal-close:hover, 
#modal-close1:hover {
  color: #FFF;
}
#modal-close:after,
#modal-close:before,
#modal-close1:after,
#modal-close1:before {
  position: absolute;
  height: 2px;
  left: 50%;
  background: #C41E3A;
  bottom: -6px;
  content: "";
  transition: all 280ms ease-in-out;
  width: 0;
}

#modal-close1:after,
#modal-close1:before {
  background: #00CC99;
}

#modal-close:before, 
#modal-close1:before {
  top: -6px;
}
#modal-close:hover:after,
#modal-close:hover:before,
#modal-close1:hover:after,
#modal-close1:hover:before {
  width: 100%;
  left: 0;
}
 
.loseBlin,
.winUra {
  position: relative;
  left:20px;
  bottom: 1px;
  font-size: 40px;
  color: red;
  font-family: cursive;
}

.winUra {
  color: #00CC99;
}

a {
  font-family: cursive;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
} 